<?xml version="1.0"?>
<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Plugins">
			<directory prefix="test-" suffix=".php">./plugins/*/tests/</directory>
			<directory prefix="test-" suffix=".php">./themes/*/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
